node_modules/
docs/node_modules/
docs/
/lib/
/test/
custom-elements.json
# top level source
jio-components.d.ts
jio-components.d.ts.map
jio-components.js
jio-components.js.map
jio-improve-this-page.d.ts
jio-improve-this-page.d.ts.map
jio-improve-this-page.js
jio-improve-this-page.js.map
jio-report-a-problem.d.ts
jio-report-a-problem.d.ts.map
jio-report-a-problem.js
jio-report-a-problem.js.map
shared-styles.d.ts
shared-styles.d.ts.map
shared-styles.js
shared-styles.js.map
# only generated for size check
my-element.bundled.js
