name: Crowdin Action
on:
  schedule:
    - cron: '0 */24 * * *'
  workflow_dispatch:
permissions:
  actions: write
  contents: write
  pull-requests: write
jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: crowdin action
        uses: crowdin/github-action@97bef4fd3f1b853eb105bc99b8d0d563760e024c # v1.17.0
        with:
          upload_translations: false
          download_translations: true
          skip_untranslated_files: true
          push_translations: true
          export_only_approved: true
          commit_message: 'feat: New Crowdin translations'
          create_pull_request: true
          pull_request_title: 'Update localization'
          pull_request_labels: 'localization'
          base_url: 'https://jenkins.crowdin.com'
          config: 'crowdin.yml'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: 28
          CROWDIN_API_TOKEN: ${{ secrets.CROWDIN_API_TOKEN }}
